body {
    margin: 0;
    font-family: "Rubik",sans-serif;
    padding: 2em 10vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 2em; */
    align-items: center;
}

header > div {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
 
}
nav {
    width: 50%;
    max-width: 500px;
    height: 50px;
  }

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;

}

nav > ul > li {
    color: hsl(229, 31%, 21%);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
nav > ul > li:hover {
color: hsl(0, 94%, 66%);
cursor: pointer;
}

li > a {
color: inherit;
text-decoration: none;
}

.red-button {
    background-color: hsl(0, 94%, 66%);
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 0.5em;

}

.red-button:hover {
    background-color: white;
    border:2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
}

.purple-button {
    background-color: hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 0.5em;
}

.purple-button:hover {
    background-color: white;
    border:2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.intro {
    display: flex;
    flex-direction: row;
    padding: 4em 0;
}

.desc-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc {
    text-align: center;
}

.faq, .browser-download, .features{
    display: flex;
    flex-direction: column;
    align-items: center;
}