body {
    margin: 0;
    font-family: "Rubik",sans-serif;
}

h1 {
    margin: 0;
    color: #242A45;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    color: #242A45;
    font-size: 1.5em;
}

h3 {
    color: #242A45;
}

p {
    color: hsl(229, 8%, 60%)
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 15vh;
}

header > div {
    display: flex;
    flex-direction: row;
    width: 40%;

    align-items: center;
 
}

.burger-button {
    display: none;
}
nav {
    width: 50%;
    max-width: 500px;
    height: 50px;
  }

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    column-gap: 2em;
    

}

nav > ul > li {
    color: hsl(229, 31%, 21%);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
nav > ul > li:hover {
color: hsl(0, 94%, 66%);
cursor: pointer;
}

li > a {
color: inherit;
text-decoration: none;
}

.red-button {
    background-color: hsl(0, 94%, 66%);
    color: white;
    border: none;
    font-size: 0.8em;
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;


}

.red-button:hover {
    background-color: white;
    border:2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
    font-size: 0.8em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;

}

.purple-button {
    background-color: hsl(231, 69%, 60%);
    color: white;
    border: none;
    font-size: 0.8em;
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;

}

.purple-button:hover {
    background-color: white;
    border:2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    font-size: 0.8em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;

}

.grey-button {
    background-color: hsl(240, 6%, 97%);
    color:  rgb(84, 84, 84);
    border: none;
    font-size: 0.8em;
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;

}

.grey-button:hover {
    background-color: white;
    border:2px solid black;
    color: black;
    font-size: 0.8em;
    height: 100%;
    width: 100%;
    font-family: "Rubik",sans-serif;

}

.intro {
    display: flex;
    flex-direction: row;
    padding: 6em 15vh;
}

.desc-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em 0 0;
}

.desc {
    text-align: center;
    max-width: 30em;
}

.buttons {
    display:flex;
    Width: 20em;
    height: 2.5em;
    column-gap: 1em;
}

.buttons-2 {
    height:2.5em;
    width: 6em;
}

.buttons-3 {
    height:2.5em;
    width: 15em;
    padding: 1.5em 0;
}

.faq, .download, .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 15vh;
    justify-content: center;
}

.browser-download {
    display: flex;
    flex-direction: row;
}


.carousel > .menu {
    display: flex;
    align-items: center;
    justify-content: center;

}

.carousel > .menu > div {
    display: flex;
    flex-direction: row;
    
   
}
.carousel > .menu > div >label >div
{
    padding: 1.5em 2em;
    column-gap: 2em;
    border-bottom: 1px solid hsl(229, 8%, 60%);
    color: hsl(229, 8%, 60%);
}

.carousel > .menu > div >label >div:hover {
    border-bottom:2px solid hsl(0, 94%, 66%);
    color: black;
}


input[type="radio"] {
    display: none;
}


.slide-container {
    overflow-x: hidden;
    margin-bottom: 8em;
}

.slides {    
    transition: transform 600ms ease-in-out;
    height: 25em;
    width: 75em;
    display: flex;
    flex-direction: row;
}


.slide-content {
    position: absolute;
    transform: translateX(-100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 0;
    column-gap: 6em;
    opacity: 0;
    width:75em;
    transition: opacity .5s ease-out, transform .5s ease-out;
}


.slide-content > div {
    padding: 0 2em 0 0em;
    column-gap: 6em;
}

input:checked + .slide-content {
    transform: translatex(0);
    opacity: 1;
    z-index: 1;
}



.rectangle-right {
    width: 35em;
    height: 22em;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 50% 50% 0;
    position: absolute;
    z-index: -1;
    bottom: -47em;

  }

  .rectangle-left {
    width: 48em;
    height: 28em;
    background-color: hsl(231, 69%, 60%);
    border-radius: 50% 0 0 50%;
    position: absolute;
    z-index: -1;
    bottom: 2em;
    position:absolute;
    /* top: -1px */
  }

  .browser-download {
    column-gap: 2em;
  }

  .window {
    box-shadow: 0 10px 20px 5px hsla(231, 69%, 60%, 0.14);
    width: 18em;
    height: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    
  }
  .dotted-line {
    /* border-top: 1px dotted hsl(229, 8%, 60%);
     */
     background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='hsl(229, 8%, 60%)' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    width: 99%;
    height: 2px;

    
    
  }
  .window div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 0;
    

  }
  .window img {
    width: 8em;
    padding: 1em 0;
  }
  .window:nth-child(2) {
    margin-top: 2.5em;
  }
  .window:last-child {
    margin-top: 5em;
  }
  .window p, .window h3 {
    margin: 0;
    padding: 0.2em
  }




  footer {
    background-color: hsl(229, 31%, 21%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 15vh;
  }

  footer  .nav-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3em;
  }

  footer  nav > ul > li {
    color: white;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
footer > div >nav > ul > li:hover {
color: hsl(0, 94%, 66%);
cursor: pointer;
}

footer > div> nav > ul >li > a {
color: inherit;
text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    column-gap: 2.5em;
}

.contact-us {
    height: 15em;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: hsl(231, 69%, 60%);
}

.contact-us p, .contact-us h2 {
    color: white;
}

.form {
    width: 25em;
    height: 2.5em;
    margin-top: 2em;
    column-gap: 1em;
    display: grid;
    grid-template-columns: 75% 25%;
}

.form div:first-child {
    height: 2.4em;
}

.form input {
    border: none;
    border-radius: 0.2em;
    width: 100%;
    height: 100%;
    text-indent: 1em;
}

.form input::placeholder {
    padding-left: 1em;
}
.accordion {
    width: 35em;
    padding: 2em 0;
}

.question {
    width: 100%;
    text-align: left;
    padding: 1em 0;
    border-right: none;
    border-left: none;
    border-top: 1px solid hsl(229, 8%, 60%);
    border-bottom:none;

    background-color: white;
    color: #242A45;
    font-family: "Rubik",sans-serif;
    transition: background-color 0.3s ease; 
}

.question:nth-child(7) {
    border-bottom: 1px solid hsl(229, 8%, 60%);
}

.question:hover {
    background-color: #ccc;
  }
.question .arrow {
    position: absolute;
    right: 455px;
    transition: transform 0.3s ease; 
}

.question.active .arrow {
    transform: rotate(180deg);
}

.accordion-faq {
    overflow: hidden;
}

.answer{
    overflow: hidden;
    max-height:0;
    transition: max-height 0.3s ease-out;
}



@media only screen and (max-width: 375px) {

    header {
        padding: 3em 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header > div {
        display: flex;
        justify-content: end;
        
    }

    nav {
        display: none;
    }

    .burger-button {
        display: block;
    }
  }